.content-holder{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

  .content-container{
    margin-top: 30px;
  } 

.content-container>h1{
  margin-left: 30px;
  margin-bottom: 20px;
}
.section2-holder {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 35px;
  margin-top: 60px;
  margin-bottom: 60px;
  text-align: left;
  
}

.image1holder,
.image1holder2 {
  flex: 1; 
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;     
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 20px;
  position: relative;
  
}

.image1holder {
  /* background-image: url("./Images/pan.jpg"); */
  background-image: linear-gradient(rgba(0,0,0,0.66), rgba(0,0,0,0.664)),
                    url("./Images/pan.jpg");
}

.image1holder2 {
  /* background-image: url("./Images/deliveryBike.jpg"); */
  background-image: linear-gradient(rgba(0,0,0,0.66), rgba(0,0,0,0.664)),
                    url("./Images/deliveryBike.jpg");
}
