.general-wrapper{
  /* width: 100%; */
  height: auto;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  /* background-color: chocolate; */
}


.LandingPage-Wrapper{
  width: 100%;
  height: 95vh;
  background-color: #fff;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  /* background-color: blue; */
}

.LandingPage-container{
  width: 100%;
  height: 170px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  /* background-color: aquamarine; */
  padding-right: 20px;
  
}

.button-div{
  display: flex;
  gap: 15px; 
 
}
 .SignUp-btn{
  width: 120px;   
  height: 45px; 
  border: none;  
  border-radius: 10px;
  cursor: pointer;
  color: #fff;
  background-color: #FF6E00;
 }

 .SignUp-btn:hover{
    background-color: #e9b389;
    border: 2px solid #FF6E00;
  }

 .login-btn{
  width: 120px;  
  height: 45px;   
  border-radius: 10px;
  cursor: pointer;
   border: 2px solid #FF6E00;
 }
 .login-btn:hover{
    background-color:  #e9b389;
    
  }

  section{
  margin: 80px 0;
}

 .Img-Content-section{
  width: 100%;
  min-height: 70vh;
 display: flex;
 align-items: center;
 justify-content: space-between;
  padding: 20px;
 }
 .Text-content{
  max-width: 50%;
  text-align: left;
  position: relative;
  flex: 1;
  padding: 10px;
 }

 .Text-content h1 {
  font-weight: bolder;
  font-size: 80px;
  padding-bottom: 20px;
  white-space: pre-line;
}

.Text-content span {
  font-size: 30px;
  white-space: pre-line;
}
.text-block {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  pointer-events: none;
}

.text-block.inactive {
  pointer-events: none;
  opacity: 0;
}

.text-block.active {
  opacity: 1;
  position: relative; 
   pointer-events: auto;
}

 .image-container{
  display: flex;
  justify-content: center;
  flex: 1;
  width: 50%;
  justify-content: flex-start;
  
  padding-left: 0px;          

 }
 
 .Img-Content-section > img{
     max-width: 380px;
  width: 100%;
   background-repeat: no-repeat;
 background-position:  center;
  position: relative;
  
 }
 .Restaurant-section{
  
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 25px;
  
 }
 .Restaurant-section > h1 {
  margin-bottom: 50px;
  font-size: 48px;
  
 }
 .Restaurant-content{
  display: flex;
  flex-direction: column;

 }
 .Restaurant-image-holder{
  width: 100%;
  display: flex;
  gap: 30px;
 }
 .restaurant-img-container{
  width: 450px;
  height: 450px;
  border-radius: 50%;
  border: 5px solid #FF6E00;
  margin: 20px; 
  
 }

 .Resuarant-span{
    display: flex;
    gap: 15px;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
 }
 .img-text{
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  /* background-color: aqua; */
 }
 
 .BreakFast-choice-section{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
 }

 .BreakFast-choice-section>h1{
  margin-bottom: 40px;
 }

 .carouselWrapper{
  width: 100%;
  padding: 10px;
  /* background-color: aqua; */
 }

 
 .dispacth-container{
  width: 100%;
  display: flex;
  gap: 40px;
}
.dispatchImg-holder{
  width: 50%;
  padding: 30px;
}
.dispatchImg-holder > img{
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
}
.dispatch-content{
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

.dispatch-content > h1{
   font-weight: 700;
   font-family: sans-serif;
   margin-bottom: 28px;
}

.dispatch-content > p {
  font-size: 20px;
  font-weight: 200;
  margin-bottom: 28px;
}
 .dispatch-btn{
   width: 120px;   
  height: 45px; 
  border: none;  
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  background-color: #FF6E00;
}





.logistics-container{
  width: 100%;
  display: flex;
  gap: 10px;
}
.logistics-content{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 40px;
  
}

 .logistics-content > h1{
   font-weight: 700;
   font-family: sans-serif;
   margin-bottom: 28px;
 }

  .logistics-content > p{
   font-size: 20px;
    font-weight: 200;
   margin-bottom: 28px;
  }
  

.logistics-btn-holder{
  display: flex;
  gap: 20px;
}

.logistics-btn1{
   width: 120px;   
  height: 45px; 
  border: none;  
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  background-color: #FF6E00;
}



.logistics-btn2{
  width: 120px;   
  height: 45px; 
  border: none;  
  border-radius: 10px;
  cursor: pointer;
  background-color: white;
  border: 3px solid #FF6E00;
}

.logistics-btn2:hover {
    background-color:  #e9b389;
    
}

.logisticsImg-holder{
  width: 50%;
  /* padding: 30px; */
  display: flex;
  justify-content: center;
}

.logisticsImg-holder > img {
  width: 80%;
  height: 85%;
  border-radius: 10px;
  background-repeat: no-repeat;
}

.About-us-container{
  width: 100%;
  display: flex;
 
}
.About-us-content > h1 {
  font-size: 50px;
  font-weight: 700;
  
}

.About-us-content>p{
  font-size: 22px;
  letter-spacing: 1px;
  margin-top: 15px;
  margin-bottom: 5px;
  
}

.About-us-content>ul{
  line-height: 1.5;
}

.About-us-content>ul>li{
   font-size: 22px;
  letter-spacing: 1px;
}

.About-us-img-holder{
  width: 50%;
 padding: 10px;
 display: flex;
 justify-content: center;
}
.About-us-img-holder>img{
  width: 80%;
  height: 95%;
  background-repeat: no-repeat;

}
.About-us-content{
  width: 50%;
  
  display: flex;
 
 flex-direction: column;
}
.About-us-content > h1 {
  margin-bottom: 20px;
}

.button-div2{
  display: none;
}


@media (max-width: 1024px) and (min-width: 768px) {
 
  .Restaurant-image-holder {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding: 0 10px;
  }

  .restaurant-img-container {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 4px solid #FF6E00;
  }

  .Resuarant-span {
    display: flex;
    justify-content: center;
    gap: 55px;
    margin-top: 15px;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    flex-wrap: nowrap;
    padding: 0 10px;
  }

  .img-text {
    min-width: 250px;
  }
  .img-text {
    font-size: 18px;
  }
  .logistics-container {
    flex-direction: column; 
    padding: 0 20px;
  }

  .logisticsImg-holder {
    order: 1; 
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

  .logisticsImg-holder > img {
    width: 80%;
    height: auto;
  }

  .logistics-content {
    order: 2; 
    width: 100%;
    padding: 0 10px;
  }

  
  .dispacth-container {
    flex-direction: column;
    padding: 0 20px;
    gap: 20px;
  }

  .dispatchImg-holder {
    order: 1;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .dispatchImg-holder > img {
    width: 80%;
    height: auto;
    border-radius: 10px; 
  }

  .dispatch-content {
    order: 2;
    width: 100%;
    padding: 0 10px;
  }

  
  .About-us-container {
    flex-direction: column;
    padding: 0 20px;
    gap: 20px;
  }

  .About-us-img-holder {
    order: 1;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .About-us-img-holder > img {
    width: 80%;
    height: auto;
    border-radius: 10px;
  }

  .About-us-content {
    order: 2;
    width: 100%;
    padding: 0 10px;
  }
}



@media screen and (max-width: 500px) {
  .Img-Content-section {
   display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* aligns content from top */
  height: 100vh;
  padding-top: 20px;
  padding-bottom: 20px;
  background-image: url('/Images/Chef.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  text-align: center;
  }

  .Img-Content-section::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1;
  }

  .image-container {
    display: none !important;
  }

 
 .Text-content {
    max-width: 90%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    color: white;
    position: relative;
     margin-bottom: 0;
     padding: 10px;
     margin-top: 50%;

  }

  .Text-content h1 {
    font-size: 26px;
    padding-bottom: 8px;

  }

  .Text-content span {
    font-size: 16px;
  }

  .button-div{
  display: none;
  
}
  .button-div2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    z-index: 2;
    margin-bottom:120px ;
  }
  .button-div2 button {
  width: 150px;   
  height: 40px;   
  font-size: 14px; 
  padding: 0;    
  border-radius: 6px;
}

  

  .LandingPage-container {
    position: absolute;
    top: 10px;
    left: 20px;
    z-index: 3;
    background: none;
    display: flex;
    justify-content: flex-start;
    padding: 0;
  }

  .LandingPage-container img {
    width: 70px;
    height: auto;
  }

 
  
}


@media (max-width: 768px) {
  .Restaurant-section > h1 {
    font-size: 28px;
    text-align: center;
    margin-bottom: 30px;
  }

  .Restaurant-image-holder {
    width: 100vw; 
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    display: flex;
    gap: 15px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  .restaurant-img-container {
    flex: 0 0 auto;
    width: 300px;
    height: 300px;
    scroll-snap-align: start;
    border-radius: 50%;
    border: 5px solid #FF6E00;
    margin: 0;
    box-sizing: border-box;
  }
  .Resuarant-span{
    display: none;
  }
  
  .Restaurant-image-holder::-webkit-scrollbar {
    display: none;
  }
  .Restaurant-image-holder {
    -ms-overflow-style: none;  
    scrollbar-width: none;     
  }
}

@media (max-width: 768px) {
  .dispacth-container {
    flex-direction: column;  
    gap: 20px;             
    padding: 0 15px;        
  }

  .dispatchImg-holder {
    width: 100%;            
    padding: 0;             
  }

  .dispatchImg-holder > img {
    width: 100%;
    height: auto;            
    border-radius: 16px;     
    display: block;          
  }

  .dispatch-content {
    width: 100%;
    padding: 0;            
    align-items: flex-start; 
    text-align: left;       
  }

  .dispatch-content > h1,
  .dispatch-content > p {
    margin-bottom: 16px;     
  }

  .dispatch-btn {
    align-self: flex-start;  
  }
}

@media (max-width: 768px) {
  .logistics-container {
    flex-direction: column;
    padding: 0 15px;
    gap: 20px;
  }

  
  .logisticsImg-holder {
    order: -1;       
    width: 100%;
    justify-content: center;
    margin-bottom: 15px;
  }

  .logisticsImg-holder > img {
    width: 100%;
    height: auto;
  }

  .logistics-content {
    order: 0;      
    width: 100%;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
  }

  .logistics-content > h1 {
    margin-bottom: 16px;
  }

  .logistics-content > p {
    margin-bottom: 20px;
  }

  .logistics-btn-holder {
    justify-content: flex-start;
    gap: 15px;
  }

  .logistics-btn1,
  .logistics-btn2 {
    width: 120px;
    height: 45px;
  }
}

@media (max-width: 768px) {
  .About-us-container {
    flex-direction: column;   
    padding: 0 15px;          
    gap: 20px;
  }

  .About-us-img-holder {
    width: 100%;
    padding: 0;
    justify-content: center;
    margin-bottom: 10px;
  }

  .About-us-img-holder > img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 16px;      
  }

  .About-us-content {
    width: 100%;
    padding: 0;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
  }

  .About-us-content > h1 {
    font-size: 36px;
    margin-bottom: 16px;
  }

  .About-us-content > p,
  .About-us-content > ul > li {
    font-size: 18px;
    letter-spacing: 0.5px;
    margin-bottom: 12px;
    line-height: 1.4;
  }

  .About-us-content > ul {
    padding-left: 20px;
    margin-bottom: 16px;
  }
}
