.prod_product_grid{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-top: 30px;
}
.prod_product_card {
  background: #fff;
  padding: 15px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  position: relative;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
}
.prod_product_image{
  width: 100px;
  height: 100px;
  object-fit: contain;
  /* margin: 0 auto 10px; */
  margin: 0 auto 15px;
}

.prod_product_info {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 10px;
}

.prod_product_title {
  font-size: 14px;
  font-weight: 500;
}

.prod_product_price {
  font-size: 16px;
  font-weight: 600;
  color: #ff7f00;
}

.prod_to_cart_btn {
  position: absolute;
  right: 10px;
  bottom: 10px;
  background-color: #ff7f00;
  color: #fff;
  border: none;
  padding: 8px 12px;
  font-size: 13px;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.2s ease;
}
.prod_to_cart_btn:hover {
  background-color: #e76f00;
  opacity: 0.9;
}
