.landingpageCard-container {
  width: 200px;
  position: relative;
  margin: 0 10px;
}
.carousel-container {
  width: 100%; /* overflow: hidden; */ /* position: relative; */
}
.carousel-track {
  display: flex;
  gap: 15px;
  transition: transform 0.5s ease-in-out;
  padding: 10px;
}
.carousel-track img {
  width: 450px; /* adjust */
  height: 600px;
  object-fit: cover;
  margin-right: 10px;
}
