.order_conf_modal_overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(135deg, rgba(0, 0, 0, 0.7), rgba(50, 50, 50, 0.5));
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

.order_conf_modal_container {
  display: flex;
  flex-direction: column;
  align-items: center;     
  justify-content: center; 
  background: #ffffff;
  padding: 25px;
  border-radius: 15px;
  width: 450px;
  height: 80vh;
  max-height: 90vh;
  overflow-y: auto;
  position: relative;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  border: 1px solid #ffffff;
}

.order_conf_modal_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin-bottom: 30px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ffffff;
}

.order_conf_modal_logo_wrap {
  flex: 1;
}

.order_conf_logo {
  height: 100px;
  width: 100px;
  object-fit: contain;
}

.order_conf_close_btn {
  background: none;
  border: 2px solid #ff6e00;
  font-size: 28px;
  color: #ff6e00;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  transition: color 0.3s ease;
}

.order_conf_confirmation_content {
    display: flex;
  flex-direction: column;
  align-items: center;    
  justify-content: center;
  width: 100%;
  text-align: center;
  padding: 30px 0;
}

.order_conf_loading_circle_wrapper {
    display: flex;
  flex-direction: column;
  align-items: center;   
  justify-content: center;
  gap: 10px;    
  position: relative;
  margin-bottom: 25px;
}

.order_conf_loading_circle {
  width: 100px;
  height: 100px;
  border: 6px solid #f0f0f0;
  border-top: 6px solid #4CAF50;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.order_conf_completion_circle {
  width: 80px;
  height: 80px;
  background: linear-gradient(45deg, #28a745, #2ecc71);
  border-radius: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px rgba(40, 167, 69, 0.5);
}
.order_conf_completion_icon {
    color: white;
}

.order_conf_completion_text {
  font-size: 28px;
  font-weight: 500;
  color: #222222;
  margin-top: 15px;
  letter-spacing: 0.5px;
}

.order_conf_view_order_btn {
  color: white;
  background-color: #ff6e00;
  padding: 12px 30px;
  width: 80%;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  margin-top: 15px;
  align-self: center; 
}


.order_conf_loading_spinner {
  width: 100px;
  height: 100px;
  border: 2px solid #28a745;
  /* border-top: 2px solid #4CAF50; */
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}