.profilecontainer {
  /* background: green; */
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  height: 146px;
}
.userName {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: black;
}
.profileicon {
  font-size: 30px;
}
.text {
  margin-top: 20px;
  margin-bottom: 5px;
  font-size: 16px;
  color: black;
}
.Logout {
  /* background: #000; */
  width: 100%;
  color: black;
  display: flex;
  border-top: 1px solid grey;
  height: 44px;
}
.Logout-content {
  width: 100%;
  display: flex;
  font-size: 18px;
  font-weight: 20px;
  margin-top: 10px;
  justify-content: space-between;
}
.logouticon {
  font-size: 18px;
  color: black;
}
