*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* .inter{
  font-family: "Inter"sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
} */
 .Body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }